
<div class="landingbackground"></div>

<div class="landingopacity"></div>

<div class="landingoverlay"></div>

<div class="landingcontainer">

  <nav>

    <ul>
      <p> <a href="/"> madness </a> </p>
      <li> <a href="/signup"> Sign Up </a> </li>
      <li id="logintrigger"> <a href="#"> Log In </a> </li>
    </ul>
  </nav>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

  <% if (typeof messageTwo !== "undefined") { %>
    <div class="success-message"><%= messageTwo %></div>
  <% } %>

  <div class="login" id="loginreact">
    <div class="wrapper">

      <form class="loginform" action="/login" method="post">
        <label for="username">Username:</label>
        <input class="inputstylez" id="username" type="text" name="username" value="" placeholder="username"><br><br>
        <label for="password">Password:</label>
        <input class="inputstylez" id="password" type="password" name="password" value="" placeholder="password"> <br>
        <button type="submit" name="button">LOG IN</button>
      </form>

      <hr class="loginhr">
      <p>Or just login in with ...</p>
      <a href="/auth/facebook"><img src="/images/fb-logo.png" alt=""></a>
      <p class="secondp"> OR</p>
      <a class="seconda" href="/googlelogin"><img class="secondimage" src="/images/google-logo.png" alt=""></a>

    </div>
  </div>

  <h2> The go-to place to achieve  <br> a difference </h2>

  <h5> - your FREE home workouts - </h5>

  <a class="landingbutton" href="/signup"> Take Control </a>

</div>

<footer class="landingfooter">

  <div class="section group">
  	<div class="col span_1_of_3">
      <ul>
        <h4> <a href="#"> What Is madness </a> </h4>
        <li> <a href="#"> The concept </a> </li>
        <li> <a href="#"> What we offer </a> </li>
        <li> <a href="#"> Why we are different </a> </li>
      </ul>  	</div>
  	<div class="col span_1_of_3">
      <ul>
        <h4> Read About Excercise</h4>
        <li> <a href="#"> The benefits </a> </li>
        <li> <a href="#"> The discipline </a> </li>
        <li> <a href="#"> The diet </a> </li>
      </ul>  	</div>
  	<div class="col span_1_of_3">
      <ul>
        <h4> <a href="#"> About Us </a> </h4>
        <li> <a href="#"> Who we are </a> </li>
        <li> <a href="#"> Our vision </a> </li>
        <li> <a href="#"> The team </a> </li>
      </ul>
  	</div>
  </div>

</footer>
