<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/vegas.min.css">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
  </head>
  <body>
    <%- body -%>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/javascripts/vegas.min.js"></script>
    <script src="/javascripts/interface.js"></script>
    <script src="/javascripts/profilejs.js"></script>
    <script src="http://localhost:62805/livereload.js"></script>
  </body>
</html>
