<div class="signupbackground"></div>

<div class="landingoverlay"></div>

<div class="signupwrapper">

  <nav>
    <p> madness </p>
  </nav>

  <section class="signupinfo">
    <div class="login">
      <h2>Login</h2>
      <hr>
      <form class="loginform" action="/login" method="post">
        <label for="username">Username:</label>
        <input class="inputstylez" id="username" type="text" name="username" value="" placeholder="username"><br><br>
        <label for="password">Password:</label>
        <input class="inputstylez" id="password" type="text" name="password" value="" placeholder="password">
      </form>

      <hr class="loginhr">
      <p>Or just login in with ...</p>
      <button class="facebook" type="button" name="button"><a href="#">&nbsp &nbsp Facebook <img src="/images/fb-logo.png" alt=""></a></button>
    </div>
    <div class="signup">
      <h2>Sign Up</h2>
      <hr>
      <form class="signupform" action="/signup" method="post">

      </form>
    </div>
  </section>

</div>
