<div class="profilebackground">

  <nav>
    <ul>
      <p> madness </p>
      <li id="slidertrigger"> <a href="#"> &#9776 </a> </li>
    </ul>
  </nav>

  <div class="profileoptions" id="sliderresponse">
    <div class="option">
      <p> <a href="/userinfo"> My Profile </a> </p>
    </div>
    <div class="option">
      <p> <a href="#"> My Stats </a> </p>
    </div>
    <div class="option">
      <p> <a href="/logout"> Log Out </a> </p>
    </div>
  </div>

  <section class="userinfo">
    <div class="userpic">
      <img src="/images/loggedin6.jpg" alt="Profile Picture">
    </div>

    <p> Hi, <%= userInfo.firstName %> </p>
    <div class="time">
      <p class="date">Today is</p>
      <time id="date"></time>
    </div>
  </section>

  <section class="routineinfo">
    <div class="workoutssofar">
      <h1> Your workouts so far: </h1>

      <div class="oneworkout">
        <h2> Workout name </h2>
        <p class="thumbnail"> date of workout</p>
        <div class="checkmark">
          <div class="img"> &#10004; </div>
        </div>
      </div>
    </div>

    <div class="todaysvideo">
      <h2> Your goal for today: </h2>

      <h3> Workout name </h3>

      <p> Are you ready to push yourself? </p>

      <button type="button" name="button"> <a href="#"> LET'S GO </a></button>

    </div>

  </section>

</div>
