<div class="loggedinbackground">
  <div class="loggedincontent">
    <p class="logo">madness</p>

    <section class="description stepone">
      <div class="steponecontent">
        <h2> Welcome, &nbsp <p><%= firstName %></p> &nbsp! </h2>
        <p class="p2"> This quick setup is for us to get to know you better. <br>Here you will be able to choose your <b>goals.</b></p>
        <p class="p3"> *You can change them again anytime afterwards.</p>
        <button class="buttonone" id="buttononejq" type="button" name="button"> <a href="#">&#8594; NEXT</a></button>
      </div>


      <form class="welcomeform" action="/profile" method="post">

        <div class="steptwocontent">
          <h2>I am a ...</h2> <br>
          <button class="buttontwo" id="buttontwo1" type="button" name="button"> Guy </button>
          <button class="buttontwo" id="buttontwo2" type="button" name="button"> Girl </button>
          <input id="gendervalue" type="text" name="gender" value="">
          <button class="buttonone" id="buttontwojq" type="button" name="button"> <a href="#">&#8594; NEXT</a></button>
        </div>

        <div class="stepthreecontent">
          <h2> I weigh ...</h2> <br>
          <input id="metricvalue" type="number" name="metric" value="1">
          <input id="weightvalue" class="weigh" value="" type="number" name="weight" placeholder="weight" maxlength="3" min="1" max="999" > <br>

          <div class="checkboxes">
            <label for="checkboxKG"> Kg </label>
            <input id="checkboxKG" type="checkbox" name="Kg" checked="checked">
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <label id="lbs" for="checkboxLBS"> lbs </label>
            <input id="checkboxLBS" type="checkbox" name="lbs">
          </div>
          <button class="buttonone" id="buttonthreejq" type="button" name="button"> <a href="#">&#8594; NEXT</a></button>
        </div>

        <div class="stepfourcontent">
          <h2> My goal is to get ...</h2> <br>
          <button class="buttonthree" id="buttonfour1" type="button" name="button" data-true=""> Strong </button>
          <button class="buttonthree" id="buttonfour2" type="button" name="button" data-true=""> Lean </button>
          <button class="buttonthree" id="buttonfour3" type="button" name="button" data-true=""> Thin </button>
          <input id="goalvalue" type="text" name="goal" value="">
          <button class="buttonone" id="buttonfourjq" type="button" name="button"> <a href="#">&#8594; NEXT</a></button>
        </div>

        <div class="stepfivecontent">
          <h2> Done! </h2> <br>
          <h4> Introducing: the madness <b>MEM-concept </b>.</h4>
          <h4> Every day you will follow these steps provided by us:</h4>
          <p> &#10112 MOTIVATION </p> <span> ~5 min. </span>
          <p> &#10113 EXERTION </p> <span> 20 min. </span>
          <p> &#10114 MEDITATION </p> <span> 5 min. </span>
          <h4 class="lasth4"> Give yourself 30 minutes a day and we guarantee that <br> <br>  <b id="bold">you will feel physically and emotionally better after one week.</b></h4>
          <button class="buttonone" id="buttonfivejq" type="submit" name="button"> LET'S GO </button>
        </div>

      </form>

    </section>

    <div class="clearfix"></div>

    <%# <button class="buttonone" type="button" name="button"> <a href="#">&#8594; NEXT</a></button>%>

  </div>
</div>
